.tabela {
    width: 80%;
    margin: 3% auto;
    background-color: blueviolet;
}

table caption {
    font-size: 30px;
    color: white;
    padding: 1%;
    margin: 1% 0px;
    background-color: blueviolet;
}

table tr th {
    font-size: 20px;
    color: white;
    padding: 1%;
}

table tr td:hover {
    opacity: 30%;
}

table tr td {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 1%;
}

#item-portfolio img {
    width: 98%;
}