body {
    margin: 0;
}

main {
    width: 60%;
    margin: auto;
}


 fieldset {
    width: 40%;
    margin: 5% auto;
}

input {
    width: 30%;
    display: block;
    margin: 5px;
    border: 1px solid black;
}

#descricao {
    width: 80%;
}

select {
    display: block;
    margin: 5px;
}

table  {
    width: 60%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}